<header>

  <div class="primer-contenedor">
    <img class="logo" src="../../assets/img/gnPicono.png" alt="GNPlogo">
    <div id="vertical-bar"></div>
  </div>

  <label>Proveedores GNP</label>

  <div class="cerrar-sesion" id="cerrar-sesion" (click)="finalizar()">
    <div class="imagenSesion" id="imgS"  hidden>
    <img class="sesionL" src="../../assets/img/cerrarSesioN.png">
    </div>
    <div id="sesion"  hidden>
    Cerrar sesión
    </div>
  </div>
  <div class="linea" id="linea" hidden>
  </div>

</header>
