<section class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <p>Inicio de sesión</p>
      <br>
      <div align="center" class="col-md-lg-4">
        <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
            <h5>Correo electrónico</h5>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
              <input type="text" class="form-control" name="name" id="name" placeholder="Correo"
                     [(ngModel)]="user.correo" #name="ngModel" required/>
            </div>
            <div *ngIf="f.submitted && !name.valid" class="help-block">El correo es requerido</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <h5>Contraseña</h5>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-key" aria-hidden="true"></i>
              </div>
              <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña"
                     [(ngModel)]="user.password" #password="ngModel" required/>
            </div>
            <div *ngIf="f.submitted && !password.valid" class="help-block">La contraseña es requerida</div>
          </div>
          <br>
          <div>
            <button class="btn propio"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
          </div>
        </form>

        <nav>
          <br>
          <button class="btn btn-primary" (click)='redireccionaPagina()'>Recuperar password</button>

        </nav>
      </div>
      <br>
    </div>

    <div class="col-md-3">
    </div>

  </div>


</section>

